
$breakpoint-large: 768px;

.headerRow {
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.catamaniaHome {
    background-image: none;
    border-right: 1px solid #E4E5E7;
    display: flex;
    
    max-width: 50%;
    flex: 0 0 50%;
    
    justify-content: center;
    height: 60px;
    padding: 0;
}

.catamaniaLogo {
    margin: 0;

    /*
    */
height: 40px;
align-self: center;

}

.commonNav {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font: inherit;
    color: inherit;
    z-index: 1000;
    background-color: #fff;
}

.linkItem {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;

    a {
        text-decoration: none;
        background-image: none;
        color: inherit;
    }
}

.headerNav {
    
    display: none;
}

.burgerNav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    max-width: 100%;

    .linkItem {

        a {
            font-size: 25px;
            line-height: 35px;
        }
    }
}



.burgerButton {
    display: inline-block;
    border: 0;
    background-color: inherit;
    padding: 0;
    border-left: 1px solid #E4E5E7;
    height: 100%;
}

.closeBurgerButton {
    color: #19212E;
    background-color: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #19212E;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: $breakpoint-large) {

    .headerRow {
        height: 90px;
        justify-content: inherit;
    }

    .catamaniaHome {
        /*
        max-width: 100%;
        */
        flex: 0 0 25%;
        max-width: 25%;

        height: 90px;
    }

    .catamaniaLogo {
        height: auto;
    }

    .headerNav {
        display: flex;
        flex-direction: initial;
        justify-content: space-around;
        position: relative;
        top: auto;
        left: auto;
        height: initial;
    }

    .burgerNav {
        display: none;
    }

    .burgerButton {
        display: none;
    }
}