
@import '../../common.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #fff;
}

.headerRow {
    height: $mobile-header-height;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E5E7;
}

.catamaniaHome {
    background-image: none;
    display: flex;
    
    max-width: 50%;
    flex: 0 0 50%;
    
    justify-content: center;
    height: $mobile-header-height;
    padding: 0;
}

.catamaniaLogo {
    margin: 0;

    /* temporaire POC : */
    -webkit-filter: blur(5px);
    filter: blur(5px);

    height: 40px;
    align-self: center;
}

.commonNav {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font: inherit;
    color: inherit;
    z-index: 1000;
    background-color: #fff;
}

.linkItem {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;

    a {
        text-decoration: none;
        background-image: none;
        color: inherit;
    }
}

.headerNav {
    
    display: none;
}

.burgerNav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    max-width: 100%;

    .linkItem {

        a {
            font-size: 25px;
            line-height: 35px;
        }
    }
}



.burgerButton {
    display: inline-block;
    border: 0;
    background-color: inherit;
    padding: 0;
    border-left: 1px solid #E4E5E7;
    height: 100%;
}

.closeBurgerButton {
    color: #19212E;
    background-color: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #19212E;
    border-radius: 100%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeLink {
    display: none;
    padding: 0;
}

@media (min-width: $breakpoint-large) {

    .headerRow {
        height: $desktop-header-height;
        justify-content: inherit;
    }

    .catamaniaHome {
        /*
        max-width: 100%;
        */
        flex: 0 0 25%;
        max-width: 25%;
        border-right: 1px solid #E4E5E7;

        height: $desktop-header-height;
    }

    .catamaniaLogo {
        height: auto;
    }

    .headerNav {
        display: flex;
        flex-direction: initial;
        justify-content: space-around;
        position: relative;
        top: auto;
        left: auto;
        height: initial;
    }

    .burgerNav {
        display: none;
    }

    .burgerButton {
        display: none;
    }

    .linkItem {
    
        .activeLink  {
            display: block;
            color: #25AAE2;
        }
    }
    .activeLink {
    }
}