@import '../../../common.scss';

.simuLine {
    fill: none;
    stroke: steelblue;
    clip-path: url(#clip);
  }
  .simuBalanceLine {
    fill: none;
    stroke: #cfb53b;
    clip-path: url(#clip);
  }
  
  .simuZoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  .customUl {
    margin-left: 0;
    font-size: 14px;

    li {
      padding: 0.25rem 0.5rem;
      cursor: pointer;
    }
  }

  .performance {
    text-align: center;
  }

  .selectedBuy {
    z-index: 2;
    color: #fff;
    background-color: green;
    border-color: green;
  }
  .selectedSell {
    z-index: 2;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

  @media (min-width: $breakpoint-large) {

    .customUl {
      font-size: 1rem;

      li {
        padding: .5rem 1.25rem;
      }
    }
  }