@import '../common.scss';

$index-front-height: 400px;

.frontSection {
    /*
    display: flex;
    align-items: center;
    */
}

.parallax {

  /* Set a specific height */
  min-height: $index-front-height; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

.description {
    position: absolute;
    width: 90%;
    height: $index-front-height - $mobile-header-height;
    top: $mobile-header-height;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    div.titleContainer {
        width: 100%;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        padding: 40px;
        position: relative;
        margin-bottom: 1vmax;
        
        div.title {
            font-size: 3.5vmax;
            line-height: 4vmax;
            font-weight: 900;
            text-transform: uppercase;
        }

        div.subtitle {
            font-size: 2.5vmax;
            line-height: 3vmax;
        }
    }
    
    hr {
        width: 30%;
        border: 1px solid #fff;
    }
}

@media (min-width: $breakpoint-large) {

    .description {
        height: $index-front-height - $desktop-header-height;
        top: $desktop-header-height;
    }
}