@import "../../../common.scss";

.tableFixHeadContainer {
    overflow-y: auto; 
    height: $scrollable-div-height;
}

.tableFixHead {
    font-size: 12px;

    thead {

        th {
            position: sticky; 
            top: 0;
            background:#eee; 
        }
    }
}

@media (min-width: $breakpoint-large) {

    .tableFixHead {
        font-size: 1rem;
    }
}